body{
	font-family: sans-serif;
}
h1{
	text-align: center;
	clolor: black;
	margin: 30px 0 50px;
}
.gallery{
	margin: 10px 50px;
}
.gallery img{
	width: 230 px;
	padding: 5px;
	filter: grayscale (100%);
	transition: 0.5s;
	filter: grayscale(20);
}
.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);

}